<section>
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-md-2">
        <h2 class="vertical-title">Informações <span>Pessoais</span></h2>
      </div>

      <div class="col-12 col-md-6">
        <div class="about">
          <div class="about__profile">
            <div>
              <img src="../../assets/profile.jpg" alt="">
            </div>
            <div>
              <h3 class="about__title">Thais Nunes de Souza</h3>
              <p>{{age}} Anos</p>
              <p>São Paulo - Brasil</p>
            </div>
          </div>
          <div class="about__information">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised i
            </p>
            <p>
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
              Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
              Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
              undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
              (The Extremes of Good and Evil) by Cicero,
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="wrapper">
          <svg version="1.1" id="Camada_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 60 768" style="enable-background:new 0 0 60 768;" xml:space="preserve"
            width="60" height="768">
            <style type="text/css">
              .st0 {
                fill: none;
                stroke: #58A8AB;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-miterlimit: 10;
              }

              .st1 {
                fill: #F8F8F7;
                stroke: #58A8AB;
                stroke-width: 3;
                stroke-linecap: round;
                stroke-miterlimit: 10;
              }
            </style>
            <line class="st0 svg-elem-1" x1="30" y1="24" x2="30" y2="741"></line>
            <circle class="st1 svg-elem-2" cx="30" cy="26" r="7.5"></circle>
            <circle class="st1 svg-elem-3" cx="30" cy="168" r="7.5"></circle>
            <circle class="st1 svg-elem-4" cx="30" cy="310" r="7.5"></circle>
            <circle class="st1 svg-elem-5" cx="30" cy="452" r="7.5"></circle>
            <circle class="st1 svg-elem-6" cx="30" cy="594" r="7.5"></circle>
            <circle class="st1 svg-elem-7" cx="30" cy="736" r="7.5"></circle>
          </svg>

        </div>
      </div>

    </div>
  </div>
</section>