$pink-gradient: linear-gradient(50deg, rgba(215, 65, 119, 0.98) 0%, rgba(255, 233, 138, 0.95) 100%);

$yellow: #ffe98a;
$purple: #6d37b5;
$blue: #52d3cb;
$black: #272727;
$white: #fff;
$pink: #dd647e;
$grey: #f7f7f7;