.vertical-title {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: relative;

  span {
    font-weight: 600;
    display: block;
    margin-top: -20%;
  }

  &::after {
    content: "";
    width: 4px;
    height: 60%;
    background: $pink;
    position: absolute;
    left: 26px;
    top: 22%;
  }
}